<p id="notice"><%= notice %></p>

<h1><%= t 'books.index.title' %></h1>

<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th><%= t 'books.title' %></th>
      <th><%= t 'books.memo' %></th>
    </tr>
  </thead>
  <tbody>
     <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.memo %></td>
        <td><%= link_to t('books.show_link'), book %></td>
        <td><%= link_to t('books.edit_link'), edit_book_path(book) %></td>
        <td><%= link_to t('books.destroy_link'), book, method: :delete, data: { confirm: t('books.js.confirm_message') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class = "mb-3">
  <%= paginate @books%>
  <%= page_entries_info @books %>
</div>

<%= link_to t('books.new_link'), new_book_path %>
