<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">BookApp</a>
  <nav class='justify-content-end'>
    <% if user_signed_in? %>
      <strong><%= link_to current_user.email, user_path(current_user) %></strong>.
      <%= link_to t("devise.shared.links.edit"), edit_user_registration_path, class: 'navbar-link' %> |
      <%= link_to t("devise.shared.links.sign_out"), destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
    <% else %>
      <%= link_to t("devise.shared.links.sign_up"), new_user_registration_path, class: 'navbar-link'  %> |
      <%= link_to t("devise.shared.links.sign_in"), new_user_session_path, class: 'navbar-link'  %>
  <% end %>
  </nav>
</nav>
